
    <div class="profile">
        <div class="profile-header">
            <div class="profile-info">
            <h2>{{ username }}</h2>
            <p>{{ student_id }}</p>
            </div>
            <button class="logout-btn" (click)="logout()">Выйти</button>
        </div>

        @if (isLoading){
            <div class="loading">Loading...</div>
        }

        @if (!isLoading){
            <div class="section"> <h3>История фильмов</h3> </div>

            @if (Bookings.length === 0) {
                <div class="empty"> <p>Вы ещё ничего не посмотрели</p>  </div>
            }

            @for(booking of Bookings; track booking.id){
                <div class="booking-card">
                    <div class="booking-info">
                        <h4>{{ booking.session?.movie?.title }}</h4>
                        <p>Дата: {{ booking.session?.start_time | date:'dd.MM.yyyy HH:mm' }}</p>
                        <p>Места: {{ booking.seats }}</p>
                        <p>Зал: {{ booking.session?.hall?.name }}</p>

                        <!-- Форма отзыва -->
                        <div class="review-form">
                            <textarea [(ngModel)]="reviewText" name="reviewText" placeholder="Напиши отзыв..." rows="3"></textarea>
                            <select [(ngModel)]="reviewRating" name="reviewRating">
                                <option [value]="5">★★★★★</option>
                                <option [value]="4">★★★★</option>
                                <option [value]="3">★★★</option>
                                <option [value]="2">★★</option>
                                <option [value]="1">★</option>
                            </select>
                            <button (click)="submitReview(booking.session?.movie?.id)">
                                Отправить отзыв
                            </button>
                        </div>
                    </div>

                    <div class="booking-status" [class.active]="booking.is_active">
                        {{ booking.is_active ? 'Активна' : 'Завершена' }}
                    </div>
                </div>
            }
        }
    </div>
